{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<p>Josie ML was created as a project for the Major League Hacking's <b>AI/ML Global Hack Week</b> Hackathon (February 9-15, 2024).</p>

<h3>Josie ML's Goal:</h3>
<p>To give the user an option to either submit an image or a drawing of a number or an object and use the trained & tested machine learning algorithm to correctly identify the input.</p>

<h3>Creator's Goal:</h3>
<p>To practice implementing a machine learning algorithm and combining it with a frontend web user interface using Python & Django.</p>

{% endblock %}
