{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Try the Josie ML Image Classifier</h1>

    <h2>Josie ML Number Classifier</h2>
    <p class="lead">Josie lets you draw or upload an image of a number and identifies it.</p>
    <p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

    <h2>Josie ML Fruit Classifier</h2>
    <p class="lead">Josie lets you draw or upload an image of a number and identifies it.</p>
    <p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h2>Josie ML Number Classifier</h2>
    <p class="lead">Josie lets you draw or upload an image of a number and identifies it.</p>
    <p>Upload an image:</p>
    <div style="display: inline-block;">
        <button onclick="openFilePicker('file-input1', 'image-name1', 'select-image-btn1', 'upload-btn1')" id="select-image-btn1">Select Image</button>
        <input type="file" id="file-input1" style="display: none;" name="image" onchange="displayImageName('file-input1', 'image-name1')">
        <label id="image-name1" style="margin-left: 10px; font-style: italic;"></label>
    </div>
    <form method="post" enctype="multipart/form-data" style="display: inline-block;">
        {% csrf_token %}
        <!--{{form.as_p}}-->
        <button type="submit" id="upload-btn1" class="disabled-button" disabled>Upload</button>
    </form>
</div>

<div class="row">
    <h2>Josie ML Fruit Classifier</h2>
    <p class="lead">Josie lets you draw or upload an image of a number and identifies it.</p>
    <p>Upload an image:</p>
    <div style="display: inline-block;">
        <button onclick="openFilePicker('file-input2', 'image-name2', 'select-image-btn2', 'upload-btn2')" id="select-image-btn2">Select Image</button>
        <input type="file" id="file-input2" style="display: none;" name="image" onchange="displayImageName('file-input2', 'image-name2')">
        <label id="image-name2" style="margin-left: 10px; font-style: italic;"></label>
    </div>
    <form method="post" enctype="multipart/form-data" style="display: inline-block;">
        {% csrf_token %}
        <!--{{form.as_p}}-->
        <button type="submit" id="upload-btn2" class="disabled-button" disabled>Upload</button>
    </form>
</div>

<div class="row">
    <h2>See more projects by midnight-baker</h2>
    <p>Midnight-baker specializes in software development in Dart, Java, and Python and cybersecurity and dabbles in machine learning using Python.</p>
    <p><a class="btn btn-default" href="https://github.com/midnight-baker?tab=repositories"> midnight-baker's GitHub</a></p>
</div>

{% endblock %}
